.deletetemplate {
  color: red;
  transform: scale(1.2);
  transition: transform 0.2s;
}

.deletetemplate:hover {
  transform: scale(1.4);
}

.edittemplate {
  color: #4096ff;
  transform: scale(1.2);
  transition: transform 0.2s;
}

.edittemplate:hover {
  transform: scale(1.4);
}

.statustemplate {
  color: grey;
  transform: scale(1.2);
  transition: transform 0.2s;
}

.success {
  color: green;
}

.error {
  color: red;
}
