.wrapper {
    animation: fadeIn 1s ease forwards;
    padding-top: 30px;
    margin: 0 auto;
    text-align: center;
}

.installTitle {
    /*display: inline-flex;*/
    padding-bottom: 30px;
}

.descText {
    color: #FFFFFF;
    font-size-adjust: inherit;
    margin: 0;
    font-weight: normal;
    /*display: flex;*/
    /*align-items: center;*/
}

.k8sImg {
    padding-left: 10px;
    height: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
