.login_page {
  display: flex;
}

.left_banner {
  background-color: rgb(6, 25, 61);
  background-image: url("https://cyclops-ui.com/assets/images/yaml_background-cc1699351922ead2cae5da1dbb75cbd8.png");
  background-size: cover;
  background-position: 0 -10rem;
  height: 100vh;
  width: 70vw;
}

.cyclops_image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cyclops_brand_image {
  height: 25rem;
  position: fixed;
  bottom: 0;
  /* width: 10rem; */
}

.login_header {
  text-align: center;
}

.cyclops_login_header_login {
  height: 7rem;
  margin-bottom: 4rem;
}

.login_form {
  margin-top: 25vh;
}

.login_container {
  width: 30vw;
  padding: 0 5%;
}

.field_container {
  margin: 1rem 0;
}

.submit_buttom {
  background-color: #ffffff;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  width: 100%;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submit_buttom:hover {
  background-color: rgb(249, 250, 251);
}

.submit_buttom:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.submit_buttom:focus-visible {
  box-shadow: none;
}
