@media screen and (max-width: 950px) {
  .all {
    flex-direction: column;
    width: 100%;
  }
}

.title {
  text-align: left;
  display: inline-block;
  color: #000830;
  width: 100%;
  font-size: 36px;
}

.all {
  display: flex;
  justify-content: center;
  background-color: white;
}

.yaml {
  float: left;
  width: 50%;
  padding-left: 10%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ui {
  padding-top: 30px;
  padding-bottom: 30px;
  float: left;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionitem {
  font-weight: 550;
  color: #000830;
  margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .yaml {
    width: 95%;
    margin: 0 auto;
    padding: 0 0 30px;
  }

  .ui {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .descriptionitem {
    font-weight: normal;
    color: #000;
    margin-left: 0;
  }
}

.dot {
  top: 1px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: inline-block;
  margin: 8px 4px;
}
