apiVersion: apps/v1
kind: Deployment
metadata:
  name: cyclops-ui
  namespace: {{ include "cyclops.namespace" . | quote }}
  labels:
    app: cyclops-ui
spec:
  replicas: {{ ((.Values.ui).replicas) | default 1 }}
  selector:
    matchLabels:
      app: cyclops-ui
  template:
    metadata:
      labels:
        app: cyclops-ui
    spec:
      containers:
        - name: cyclops-ui
          image: cyclopsui/cyclops-ui:v0.15.4
          ports:
            - containerPort: 80
          env:
            - name: REACT_APP_CYCLOPS_CTRL_HOST
              value: {{ include "cyclops-ctrl.host" . }}
            {{- if ((.Values.global).enableStreaming) }}
            - name: REACT_APP_ENABLE_STREAMING
              value: {{ ((.Values.global).enableStreaming) | quote }}
            {{- end }}
            - name: NODE_ENV
              value: production
            - name: NODE_OPTIONS
              value: --openssl-legacy-provider
      restartPolicy: Always
