.ant-col.ant-form-item-label {
  padding: 0 !important;
}

label.ant-form-item-required:before {
  bottom: 1em !important;
  position: relative !important;
}

code {
  color: #000080;
}

.ant-collapse-content-box {
  padding-top: 12px;
  border: 1px solid #d3d3d3;
  border-top: none;
  border-left: 3px solid #faca93;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  background-color: #ffffff;
}

.custom {
  .ant-collapse-content-box {
    padding: 0;
  }
}

.expandadvanced {
  width: 100%;
  height: 32px;
  background-color: #eee;
  border-radius: 0 0 7px 7px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Center text */
}

.expandadvanced:hover {
  background-color: #e0e0e0;
}
