.ant-col.ant-form-item-label {
  padding: 0 !important;
}

label.ant-form-item-required:before {
  bottom: 1em !important;
  position: relative !important;
}

code {
  color: #000080;
}

.custom {
  .ant-collapse-content-box {
    padding: 0;
  }
}

.expandadvanced {
  width: 100%;
  height: 32px;
  background-color: #eee;
  border-radius: 0 0 7px 7px;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.expandadvanced:hover {
  background-color: #e0e0e0;
}
