.wrapper {
    animation: fadeIn 1s ease forwards;
    padding-top: 30px;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 1;
        transform: translateY(200px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.changingReplicas {
    border-color: #fe8801;
}

.animationcard {
    z-index: 100;
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width: 950px) {
    .animationcard {
        left: 0;
    }
}
