.featuresroot {
    padding-bottom: 100px;
}

.features {
    /*background-color: #000830;*/
    /*background-image: linear-gradient(to bottom right, red, yellow);*/
}

.verticalline {
    left: calc((100% - 1500px) / 2 + (1500px / 4) - 30px);
    width: 8px;
    background-color: #fe8801;
    position: absolute;
    z-index: 0;
    height: 100%;
}

@media screen and (min-width: 1500px) {
    .features {
        width: 1500px; /* Set a maximum width for larger screens */
        margin-left: auto; /* Center the container horizontally */
        margin-right: auto;
        /*background-color: #000830;*/
    }
}

@media screen and (max-width: 1500px) {
    .verticalline {
        left: calc(25% - 30px);
        width: 8px;
        background-color: #fe8801;
        position: absolute;
        z-index: 0;
    }
}
