.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000830;
  height: 100vh;
  position: relative;
  top: 0;
  margin-top: -60px;
}

.landingCyclops {
  align-self: center;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  width: 80vh;
}

.cyclopsTitle {
  padding-top: 110px;
  width: 40%;
}
