.landing {
  display: flex;
  justify-content: center;
  height: 90vh;
  position: relative;
  top: 0;
}

.landingCyclops {
  align-self: center;
  position: absolute;
  bottom: 0;
  object-fit: cover;
  width: 100vh;
}
