apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.14.0
  name: templatestores.cyclops-ui.com
spec:
  group: cyclops-ui.com
  names:
    kind: TemplateStore
    listKind: TemplateStoreList
    plural: templatestores
    singular: templatestore
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: TemplateStore holds reference to a template that can be offered
            as a starting point
          properties:
            apiVersion:
              description: |-
                APIVersion defines the versioned schema of this representation of an object.
                Servers should convert recognized schemas to the latest internal value, and
                may reject unrecognized values.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
              type: string
            kind:
              description: |-
                Kind is a string value representing the REST resource this object represents.
                Servers may infer this from the endpoint the client submits requests to.
                Cannot be updated.
                In CamelCase.
                More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
              type: string
            metadata:
              type: object
            spec:
              properties:
                path:
                  type: string
                repo:
                  type: string
                sourceType:
                  enum:
                    - git
                    - helm
                    - oci
                  type: string
                version:
                  type: string
              required:
                - path
                - repo
                - version
              type: object
          type: object
      served: true
      storage: true
