.command {
    width: 80%;
    padding-top: 30px;
    margin: 0 auto;
    animation: fadeIn 1s ease forwards;
}

.commandDesc {
    color: #FFF;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

