/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #fe8801;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

html[data-theme='light'] footer {
  background-color: #00152A;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #FE8801;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.button.button--demo {
  background-color: #fe8801;
  color: #FFF;
}

.button.button--demo:hover {
  background-color: #e37a00;
}
