name: ui tests

on:
  push:
    paths:
      - 'cyclops-ui/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
      - name: Install dependencies
        run: |
          cd ${{ github.workspace }}/cyclops-ui
          npm install --force
      - name: Run tests
        run: |
          cd ${{ github.workspace }}/cyclops-ui
          npm test
